#AUTO-GENERATIVE FOLDERS
/coverage/
artifacts
cache
typechain-types
node_modules
.pnpm-store/**

#AUTOGENRATIVE FILES
/coverage.json
yarn-error.log
/deployments/

#OTHER FILES
.prettierignore
.solhintignore
gas-report.txt
/.env

#OTHER FOLDERS
/release/
/docs/